.count-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 140px;
    margin: 0px auto;
    text-align: center;
    background: linear-gradient(96deg, rgba(24,108,100,1) 0%, rgba(17,41,37,1) 92%);
}

.count-title {
    width: 120px;
    align-self: center;
    font-size: 6rem;
    font-family: sans-serif;
    text-align: center;
    font-weight:lighter;
    color: white;
    letter-spacing: 1px;

}

.count-paragraph {
    font-size: 1.8rem;
    font-family: sans-serif;
    font-weight:lighter;
    padding: 0px 20px;
    color: white;
    letter-spacing: 1px;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 1px 3px 13px 4px rgba(0,0,0,0.42);
}